.navbar {
    background-color: white;
    position: relative;
    border-bottom: 10px;
    width: 100%;
    height: 80px;
    float: top;
    margin: 0px;
}
.navbar a {
    float: right;
    top: 20px;
    color: white;
    text-align: center;
    padding: 10px 16px;
    font-size: 20px;
    align-content: center;
    background-color: #4aaaa5;
    height: 20px;
    border: 2px solid black;
}
.name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0px;
    left: 100px;
}
.Me {
    width: 30%;
    float: left;
    margin: 0px 16px;
}
.body {
    width: 50%;
    background-color: white;
    margin: 30px 400px;
    padding: 15px;

}
p {
    font-size: 20px;
}
.header {
    width: 100%;
    border-bottom: 2px solid #dddddd;
}
.kitten {
    float: left;
    height: 200px;
    width: 200px;
    margin: 30px 20px;
    position: relative;
}
.kitten-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0px;
    right: 60px;
    width: 100px;
    }
.sky {
    float: left;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 30px 20px;
}
.sky-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: -55px;
    right: -100px;
    width: 160px;
}
.laptop {
    float: left;
    clear: both;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 30px 20px;
}
.laptop-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 30px;
    right: 0px;
    width: 160px;
}
.capitol {
    float: left;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 30px 20px;
}
.capitol-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 30px;
    right: 0px;
    width: 160px;
}
.bridge {
    float: left;
    clear: both;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 30px 20px;
}
.bridge-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 30px;
    right: 0px;
    width: 160px;
}
img {
    max-width: 200px;
    max-height: 200px;
}
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    color: white;
    text-align: center;
    font-size: 2px;
}